@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    background-image: url('../images/hero.png');
    height: 100%;
    width: 100%;
    background-size: 100vw 98vh;
    background-repeat: no-repeat;
}
.font-white{
    color: #fff;
}
.font-yellow{
    color: #ffb700;
}
.header-row2{
    display: flex;
    width:100%;
    align-items: center;
    
}
.header-row2-col1{
    width: 50%;
}
.header-row2-col2{
    width: 50%;
}
.categories-row-col{
    display: inline-block;
    margin-left: 50px;
}
.header-row2-col1-h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.header-row2-col1-h1{
    font-size: 42px;
    line-height: 60px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 4px;
    margin-bottom: 30px;
}
.header-row2-col1-para{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fffc;
    margin-bottom: 48px;
}
.nav-button{
    background-color: #ffb700;
    color: black;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    padding: 14px 30px;
    border: 1px solid #ffb700;
}
.nav-button:hover{
    background-color: transparent;
    color: #ffb700;
}
.header-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-row1-col1{
    width: 20%;
}
.header-row1-col2{
    width: 60%;
}
.header-row1-col3{
    width: 20%;
}
.logo{
    width: 80%;
}