@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{
    background-image: url('../images/hero.png');
    height: 100%;
    width: 100%;
    background-size: 100vw 98vh;
    background-repeat: no-repeat;
}
.font-white{
    color: #fff;
}
.font-yellow{
    color: #ffb700;
}
.header-row2{
    display: flex;
    width:100%;
    align-items: center;
    padding-top: 7%;
    padding-left: 4%;
    justify-content: space-evenly;
    
}
.header-row2-col1{
    display: flex;
    justify-content: center;
    align-items: start;
    width:50%;
    flex-direction: column;
}
.header-row2-col2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.categories-row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.categories-row-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.header-row2-col1-h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.header-row2-col1-h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 4px;
    margin-bottom: 30px;
}
.header-row2-col1-para{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fffc;
    margin-bottom: 48px;
}
.nav-button{
    background-color: #ffb700;
    color: black;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    padding: 14px 30px;
    border: 1px solid #ffb700;
}
.nav-button:hover{
    background-color: transparent;
    color: #ffb700;
}
.header-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}
.header-row1-col1{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-row1-col2{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.header-row1-col3{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 65%;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
.nav-icon{
    font-size: 25px;
}
.popular-items{
    width: 100%;
}
.popular-items-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    grid-row-gap:30px;
}
.popular-grid-image-box{
    border: 1px solid #e6e7e8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.popular-grid-image{
    width: 90%;
    background-color: #f7f7f7;
    padding: 55px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-grid-image:hover{
    background-color: #fff8e6;
}
.popular-grid-image img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}
.popular-grid-content{
    padding-top: 15px;
}
.star-rating{
    margin-top: 8px;
    margin-bottom: 12px;
    color: #ffb700;
}
.popular-grid-content p{
    font-weight: 600;
}